body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.warning-card {
  background-color: gold;
}

.overdue-card {
  background-color: crimson;
  color: antiquewhite;
}

.column {
  height: 100%;
  width: 100%;
}